.genres-menu {
  box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 4px;
  padding: 1.2em;
  z-index: 1;
  height: fit-content;
  position: relative;
}

.count {
  font-size: 0.7em;
  margin-left: 5px;
  color: lightslategray;
}