.card {
  display: flex;
  justify-content: start;
  width: 300px;
  margin: 0 0 1em 0;
  border-radius: 10px;
}

.card-img {
  width: 30%;
  object-fit: cover;
}

.card-thumbnail {
  width: 100%;
}

.card-meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h4, p, span {
  margin: 0;
}