.card {
  display: flex;
  justify-content: start;
  width: 300px;
  margin: 0 0 1em 0;
  border-radius: 10px;
}

.card-img {
  width: 50%;
  object-fit: contain;
  overflow: hidden;
}

.card-thumbnail {
  width: 100%;
}

.card-meta {
  text-align: left;
  margin-left: 1em;
}

h4, p, span {
  margin: 0;
}