.game-details{
    display: flex;
    padding: 1.5em;
}

.gamedetails-title {
    font-size: 1.8em;
    text-align: left;
    margin: 0;
}

.left-section{
    width: 50%;
}

.gamedetails-section {
    text-align: left;
    padding-bottom: 1.2em;
}

#detail-picture {
    width: 100%;
    border-radius: 10px;
  }

.right-section{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 2em;
}

.description-container {
    padding: 1.5em;
    border-top: 1px solid lightslategray;
    border-bottom: 1px solid lightslategray;
}

.description {
    text-align: justify;
    line-height: 1.8em;
}

.gamedetails-section-title {
    font-weight: bold;
}

.gamedetails-section-text {
    color: lightslategray;
}

h6 {
    margin: 0;
    color: lightslategray;
}

.gamedetails-ratings-section {
    display: flex;
    align-items: center;
    padding-bottom: 1.2em;
}

.rating-div {
    margin-right: 1.2em;
}

.gamedetails-tags {
    font-size: 0.7em;
    color: lightslategray;
    margin-right: 1em;
}

.gamedetails-section-tags {
    padding: 1.5em;
    text-align: left;
}